/* Created by user on 5/28/2026, 7:32:08 PM */
/* Last modified by user on 5/28/2026, 8:15:10 PM */

    

.btn1{
    padding: 12px;
    margin: 8px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(145deg, #2575fc, #1a5edb);
    color: #fff;
}