/* Created by user on 5/13/2026, 8:09:02 PM */
/* Last modified by user on 5/17/2026, 2:17:54 PM */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/*Background*/
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at top, #1f1c2c, #0f0c29);
    color: #fff
}

/*layout*/
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/*base button*/
button{
    font-size: 14px;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

/*gradient button*/
.btn-gradient{
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    padding: 12px 26px;
    border-radius: 10px;
    border: none;
    color: white;
    box-shadow: 0 5px 15px rgba(101, 126, 255, 0.3);
}

.btn-gradient:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(101, 126, 255, 0.6);
    cursor: pointer;
}

/*glass button*/
.btn-glass {
    background: rgb(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(101, 126, 255, 0.15);
    padding: 12px 26px;
    border-radius: 12px;
    box-shadow: inset 0 0 10px rgba(101, 126, 255, 0.5);
    color: #fff;
    
}

.btn-glass:hover{
    background: rgba(255, 255, 255, 0.15);
    transform: translateY(-2px);
}

.btn-neon{
    background: transparent;
    color: #00f7ff;
    border: 2px solid #00f7ff;
    padding: 12px 26px;
    border-radius: 8px;
    text-shadow: 0 0 6px #00f7ff;
    box-shadow: 0 0 12px #00f7ff, inset 0 0 8px #00f7ff;
}

.btn-neon:hover{
    background: #00f7ff;
    color: #0f0c29;
    box-shadow: 0 0 25px #00f7ff;
}

.btn-outline{
    border: 2px solid #8f5cff;
    color: #8f5cff;
    padding: 12px 26px;
    border-radius: 8px;
    background: transparent;
    position: relative;
    overflow: hidden;
    z-index: 1;

}

.btn-outline::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(#6a11cb, #2575fc);
    transform: scalex(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: -1;
}

.btn-outline:hover::before{
   transform: scale(1);
}

.btn-outline:hover{
    color: white;
}

/*3D button*/
.btn-3d{
    background: linear-gradient(145deg, #2575fc, #1a5edb);
    padding: 12px 26px;
    border-radius: 10px;
    border: none;
    box-shadow:
    0 6px 0 #143ea8,
    0 10px 20px rgba(0,0,0,0.3);

}

.btn-3d:active{
    transform: translateY(6px);
    box-shadow: 0 2px 0 #143ea8;
}


